<html>
<%@ include file="base.jsp" %>  
<body>
<h2>index succese!</h2>
			<form id="addElementForm" action="localhost:8080/gataway/Project/insert.do" class="easyui-form" method="post" data-options="novalidate:true"> -->
				<div style="margin-bottom:20px">
					<input class="easyui-textbox addField" name="product" style="width:100%" data-options="label:'product:',required:true">
				</div>
				<div style="margin-bottom:20px">
					<input class="easyui-textbox addField" name="attr" style="width:100%" data-options="label:'attr:',required:true">
				</div>
				<div style="margin-bottom:20px">
					<input class="easyui-textbox addField" name="unit" style="width:100%" data-options="label:'unit',required:true">
				</div>
				<div style="margin-bottom:20px">
					<input class="easyui-textbox addField" name="status" style="width:100%" data-options="label:'status',required:true">
				</div>
				
				<input type="submit">
			</form>
</body>
</html>
